.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}
.login-button div {
    margin: -4px 3px;
}
.nav-section {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.menu-list {
    display: flex;
    list-style-type: none;
}
.menu-list li {
    padding: 10px;
}
.menu-area {
    display: flex;
    justify-content: center;
}
.search-area {
    position: absolute;
    right: 0px;
    border-bottom: 1px solid black;
}
.search-area input {
    border: none;
}
.product-card {
    margin: 20px;
    transition: all 0.2s linear;
}
.product-card:hover {
    transform: scale(1.1);
}
.product-img {
    display: flex;
    justify-content: flex-end;
}